*.h  linguist-language=C++
*.hpp  linguist-language=C++

*.html linguist-detectable=false 
*.js linguist-detectable=false 
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.ts linguist-detectable=false
*.vue linguist-detectable=false

mts-web/* linguist-vendored