<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mts.admin.dao.ContractMapper">
    <insert id="insertContracts" parameterType="list">
        INSERT INTO CONTRACT
        (symbol, name, type,exchange,stdSymbol,priceTick,multiple)
        VALUES
        <foreach collection ="list" item="po" separator =",">
            (#{po.symbol}, #{po.name}, #{po.type},#{po.exchange},#{po.stdSymbol},#{po.priceTick},#{po.multiple})
        </foreach >

    </insert>
    <select id="queryContracts" resultType="org.mts.admin.entity.Contract">
        SELECT * FROM CONTRACT
    </select>
</mapper>